body {

    /* center 16x16 grid */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;

    /* vertical main axis for button on top */
    flex-direction: column;

}

#grid-container { 

    /* use flexbox */
    display: flex;

    /* vertical main axis */
    flex-direction: column;

    /* create square shapes */
    width: 600px;
    height: 600px;

}

.grid-row{

    /* use flexbox */
    display: flex;

    /* use full width */
    flex: 1;    

}

.grid-col {
    
    /* use flexbox */
    display: flex;
    
    /* use full width */
    flex: 1;

    /* include margin/padding within total size */
    box-sizing: border-box;

    /* border */
    border-style: solid;
    border-width: 2px;
    border-color: white;

    /* change cell color */
    background-color: aquamarine;

}

.button {

    width: 25vh;
    height: 5vh;
    margin-bottom: 5vh;

}